button {
  background-color: #111;
  cursor: pointer;
  border-radius: 40px;
  font-size: 0.9rem;
  color: white;
  border: none;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-top: 50px;
  transition: 0.5s;
  margin: 10px;
  font-weight: bold;
  outline: white;
}

button:hover {
  background-color: rgb(39, 36, 36);
  transform: scale(1.2);
}
