.darkened-image {
 background-color:white;
  height: 100px;
  width: 1400px;
}


.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
