.subButton {
  text-decoration: underline;
  cursor: pointer;
  border-radius: 0;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  margin-top: 50px;
  transition: 0.8s;
  margin: 10px;
  font-weight: bold;
  background: none;
}

.subButton:hover {
  color: #111;
  font-size: 1.3rem;
}
