.custom-input {
    background-color: #ffffff !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 2px #111 solid !important;
    border-radius: 0% !important;
}

.custom-input:disabled {
    background-color: #f0f0f0 !important;
    border-bottom: 2px rgb(165, 165, 165) solid !important;
    color: rgb(165, 165, 165) !important;
}

.warning {
    color: rgb(209, 153, 0) !important;
}