footer{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #111;
  color:white;
  height:50px;
  margin: auto;
  position: fixed;
  width:100%;
  bottom: 0;
}
