footer{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #111;
  border-top: 2px solid white;
  color:white;
  height:50px;
  margin: auto;
}