.container {
    margin-top: 20px;
  
  /*  background: -webkit-linear-gradient(to right, #757e7a, #757e7a);
    background: linear-gradient(to right, #757e7a, #757e7a);*/
   margin-bottom: 70px;
}
.people{
    padding:20px;
}